$color-text: #6f2e6a;
$color-tab-slide: #c67085;
$color-tab-bg: #fff9f9;
$color-theme: #ff3000;
$color-off-switch: #bfbfbf;
$color-on-switch: #1890ff;
$color-button-normal: #409eff;
$color-button-success: #67c23a;
$color-button-info: #909399;
$color-button-warning: #e6a23c;
$color-button-danger: #f56c6c;
$color-font: #333;
$color-border: #d9d9d9;
$box-shadow-nav: 0 3px 3px rgba(51, 51, 51, .1);
$box-shadow-aside: 3px 0 3px rgba(51, 51, 51, .1);

$index-top-nav: 20;
$index-aside: 10;

$height-normal-switch: 22px;
$height-normal-switch-span: $height-normal-switch - 4px;
$height-large-switch: 26px;
$height-large-switch-span: $height-large-switch - 4px;
$height-small-switch: 18px;
$height-small-switch-span: $height-small-switch - 4px;
$height-button: 32px;
%code {
  font-family: 'JetBrains Mono', "Source Code Pro", Menlo, Monaco, Consolas, 'Courier New', monospace;
  line-height: 1.4;
  padding: 0.15em 0.5em;
  color: #303133;
  background-color: #f5f7fa;
}